<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="MSBEEFOLDER" Name="MSBuild\MSBee" />
    </StandardDirectory>
    <?foreach VS in 2012;2013;2015 ?>
    <Directory Id="VS$(VS)_EXTENSIONS_DIR">
      <Directory Id="VS$(VS)" Name="MSBee">
        <Directory Name="ProjectTemplates">
          <Directory Id="VS$(VS)CSHARP" Name="CSharp\1033" />
        </Directory>
      </Directory>
    </Directory>
    <?endforeach?>
  </Fragment>
</Wix>
